@page "/"
@if (ToDoItems is not null)
{
    Notes:
    <ul>

        @foreach (var item in ToDoItems)
        {
            <li>@item.Notes
                <button type="button" @onclick="() => EditNote(item)">Edit</button>
            </li>
        }
    </ul>
    <button type="button" @onclick="() => AddNote()">Add</button>
}